header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
}

header h1 {
    font-size: 18px;
    color: #000;
    letter-spacing: 1px;
    position: relative;
    right: 60px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin-left: 25px;
}

nav a.active {
    color: #8a5615;
}

.login {
    background-color: #cfd3d4;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    font-weight: bold;
    color: #000;
    margin-left: 25px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a.active {
    color: #8a5615;
}

.nav-links a:hover {
    color: wheat;
}

.login:hover{
    background-color: black;
    color: wheat;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;
    position: absolute;
    top: 18px;
    right: 20px;
    z-index: 1000;
}

.hamburger div {
    width: 28px;
    height: 3px;
    background-color: #000;
    border-radius: 2px;
    transition: 0.3s;
}