* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      background-color: #6c9ba9;
      font-family: "Poppins", sans-serif;
      color: #fff;
  }

  header {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 0px 20px;
      background-color: #6c9ba9;
  }

  header img {
      width: 300px;
      position: absolute;
      left: 10%;
      bottom: -150px;
      transform: translateX(-50%);
  }

  nav a {
      text-decoration: none;
      color: #000;
      font-weight: bold;
      margin-left: 25px;
      position: relative;
      left: 650px;
  }

  nav a.active {
      color: #8a5615;
  }

  .login {
      background-color: #cfd3d4;
      border: none;
      border-radius: 15px;
      padding: 5px 15px;
      font-weight: bold;
      color: #000;
      cursor: pointer;
  }

  .nav-links {
      display: flex;
      gap: 25px;
  }

  .nav-links a {
      text-decoration: none;
      color: #000;
      font-weight: bold;
      transition: color 0.3s;
  }

  .nav-links a.active {
      color: #8a5615;
  }

  .nav-links a:hover {
      color: wheat;
  }

  .login:hover{
      background-color: black;
      color: wheat;
  }

  .hamburger {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      gap: 5px;
      position: absolute;
      top: 18px;
      right: 20px;
      z-index: 1000;
  }

  .hamburger div {
      width: 28px;
      height: 3px;
      background-color: #000;
      border-radius: 2px;
      transition: 0.3s;
  }
