/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* Fullscreen map */
html, body {
  height: 100%;
  width: 100%;
}

#map {
  height: 100vh;
  width: 100%;
  margin-top: 70px; 
}

/* Navbar transparan */
.custom-navbar {
  background: rgba(0, 0, 0, 0.6) !important;
  padding: 0.8rem 1.5rem;
  backdrop-filter: blur(6px);
}

.navbar-nav .nav-link {
  transition: color 0.3s ease;
}
.navbar-nav .nav-link:hover {
  color: #f39c12 !important;
}

.leaflet-popup-content {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
