/* ========== STYLE.CSS ========== */
:root{
  --main: #6c9ba9;
;
  --accent:orange;
  --bg:#f8f8f8;
  --card:#fff;
  --text:#333;
  --radius:10px;
}

*{box-sizing:border-box;margin:0;padding:0;font-family:"Segoe UI",sans-serif;}

body{
  background-color: #6c9ba9;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;

}

button a:visited{
  color: white;
}
a{
  text-decoration: none;
}
.form-container{
  background-color: #1d303b;
  width:100%;
  max-width:380px;
  padding:32px;
  border-radius:var(--radius);
  box-shadow:0 6px 16px rgba(0,0,0,0.1);
  text-align:center;
}

h2{
  color:var(--main);
  margin-bottom:20px;
}

.input-group{
  text-align:left;
  margin-bottom:16px;
}
label{
  display:block;
  font-size:14px;
  color:white;
  margin-bottom:5px;
}
input[type=text],
input[type=password],
input[type=email],
input[type=number]{
  width:100%;
  padding:10px 12px;
  border:1px solid #ccc;
  border-radius:var(--radius);
  font-size:14px;
}

.checkbox{
  display:flex;
  align-items:center;
  gap:6px;
  font-size:13px;
  color:#555;
  margin-bottom:18px;
}

button{
  width:100%;
  background:var(--main);
  color:#fff;
  border:none;
  padding:10px;
  font-size:15px;
  font-weight:600;
  border-radius:var(--radius);
  cursor:pointer;
  transition:0.2s;
}
button:hover{ background:#073db8; }

.link{
  font-size:13px;
  margin-top:12px;
  color: white;
}
.link a{
  color:var(--accent);
  text-decoration:none;
}
.link a:hover{ text-decoration:underline; }

.small-note{
  font-size:12px;
  color:white;
  margin-top:10px;
}

/* OTP input style */
.otp-box{
  display:flex;
  justify-content:center;
  gap:8px;
  margin:18px 0;
}
.otp-box input{
  width:50px;
  text-align:center;
  font-size:18px;
  padding:8px;
}

/* Success icon */
.success-icon{
  font-size:60px;
  color:green;
  margin-bottom:10px;
}

/* Terms text */
.terms-box{
  text-align:left;
  font-size:14px;
  color:#333;
  line-height:1.6;
  max-height:400px;
  overflow-y:auto;
  margin-bottom:16px;
  padding-right:6px;
}

/* Footer small */
footer{margin-top:20px;font-size:12px;color:#888;}
